#canvas {
  border: 1px solid black;
  /*have the background colour slowly change over time */
  background-color: black;
}
body {
  margin: 0;
  padding: 0;
  background: #3498db;
}
.container {
  position: absolute;

  top: 10%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.container2 {
  position: absolute;
  top: 30%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.container3 {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.container4 {
  position: absolute;
  top: 70%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.ripple {
  position: fixed;
  top: 0;
  transform: translateY(-50%);

  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: ripple 4s linear infinite;
}
.r2 {
  animation-delay: 0.8s;
}
.r3 {
  animation-delay: 1.6s;
}
.r4 {
  animation-delay: 2.4s;
}
.r5 {
  animation-delay: 3.2s;
}
.r6 {
  animation-delay: 4s;
}

@keyframes ripple {
  from {
    border: 4px solid #8e44ad;
    background: #9b59b670;
  }
  to {
    border: 0px solid #8e44ad;
    background: #9b59b670;
    width: 150px;
    height: 150px;
    top: 20px;
    opacity: 0;
  }
}
