#canvas {
  border: 4px solid #8d91ad;
  /*call and replace this when the button in the modulo is chosen for dark or light background */
  background-color: black;
}
body {
  padding-top: 10%;
  padding-left: 17%;
  background: black;
}

.container {
  position: absolute;

  top: 10%;
  left: 27%;
  transform: translate(-20%, -50%);
}
.container2 {
  position: absolute;
  top: 10%;
  left: 44%;
  transform: translate(-50%, -50%);
}
.container3 {
  position: absolute;
  top: 10%;
  left: 61%;
  transform: translate(-50%, -50%);
}
.container4 {
  position: fixed;
  top: 10%;
  left: 77%;
  transform: translate(-50%, -50%);
}
.ripple {
  position: fixed;
  top: 0;
  transform: translateY(-50%);

  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: ripple 4s linear infinite;
}
.ripple2 {
  position: fixed;
  top: 0;
  transform: translateY(-50%);

  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: ripple2 4s linear infinite;
}
.r2 {
  animation-delay: 0.8s;
}
.r3 {
  animation-delay: 1.6s;
}
.r4 {
  animation-delay: 2.4s;
}
.r5 {
  animation-delay: 3.2s;
}
.r6 {
  animation-delay: 4s;
}

@keyframes ripple {
  from {
    border: 4px solid #8d91ad;
    /* background: #9b59b670; */
    opacity: 1;
  }
  to {
    border: 0px solid #fcffb5;
    /* background: #b5ffe4; */
    width: 150px;
    height: 150px;
    top: 10px;
    opacity: 0;
  }
}

@keyframes ripple2 {
  from {
    border: 2px solid #8d91ad;
    /* background: #9b59b670; */
    opacity: 1;
  }
  to {
    border: 0px solid #fcffb5;
    /* background: #b5ffe4; */
    width: 150px;
    height: 150px;
    top: 10px;
    opacity: 0;
  }
}
